.main {
  /* Define color palette */
  --bg-color: #121212;
  --obj-color: #1e1e1e;
  --obj-highlight-color: #484848;
  --obj-shadow-color: #101010;
  --accent-color: #b788f8;
  --tooltip-color: #080808;

  text-align: center;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  color: white;
}

header {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: left;

  border-bottom-style: solid;
  border-bottom-color: var(--accent-color);
  border-bottom-width: 0.1rem;
}

.name {
  font-size: 1.75rem;
  font-weight: 600;
  padding: 0.5rem;
  align-self: center;
}

.profile-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0rem;
}

.profile-link:hover {
  background-color: var(--obj-color);
}

footer {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.section {
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  border-bottom-color: var(--accent-color);
}

.section-title {
  color: var(--accent-color);
}

/* #region projects */
.projects {
  display: grid;
  color: white;
  padding: 1rem;
  max-width: 100rem;
  margin: auto;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 75rem) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 55rem) {
  .projects {
    grid-template-columns: 1fr;
  }
  .job-img-container {
    width: 10rem !important;
  }
  .dev-icon-container {
    width: 2rem !important;
  }
  .jobs {
    max-width: 100% !important;
  }
  .job {
    border-radius: 0.75rem !important;
  }
  .job-img {
    border-radius: 0.5rem !important;
  }
  .job-outline {
    border-radius: 0.75rem !important;
  }
}

@media only screen and (max-width: 40rem) {
  html {
    font-size: 62.5%;
  }
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;
  color: white;
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: var(--obj-color);
  box-shadow: 0rem 0rem 0.25rem 0.25rem var(--obj-shadow-color);
  cursor: pointer;
  text-decoration: none;
}

.project:hover {
  background-color: var(--obj-highlight-color);
}

.project:focus {
  outline: none;
}

.project-outline {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  pointer-events: none;
  top: 0;
}

.project:focus .project-outline {
  outline-style: solid;
}

.project-img-container {
  width: 10rem;
  box-sizing: border-box;
}

.project-img {
  width: 100%;
  border-radius: 0.5rem;
}

.project-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: top;
  box-sizing: border-box;
  align-self: right;
  text-align: left;
}

.project-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.project-date {
  color: lightgray;
  font-size: 0.9rem;
}

.project-icons {
  margin-top: auto;
  justify-content: right;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
/*#endregion*/

/* #region jobs */
.jobs {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 55rem;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.job {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--obj-color);
  box-shadow: 0rem 0rem 0.25rem 0.25rem var(--obj-shadow-color);
  cursor: pointer;
  text-decoration: none;
}

.job:hover {
  background-color: var(--obj-highlight-color);
}

.job:focus {
  outline: none;
}

.job-outline {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  pointer-events: none;
  top: 0;
}

.job:focus .job-outline {
  outline-style: solid;
}

.job-img-container {
  width: 12rem;
  box-sizing: border-box;
}

.job-img {
  border-radius: 0.75rem;
  width: 100%;
}

.job-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: top;
  box-sizing: border-box;
  align-self: right;
  text-align: left;
}

.job-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.job-date {
  color: lightgray;
  font-size: 0.9rem;
}

.job-icons {
  margin-top: auto;
  justify-content: right;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
/* #endregion */

.dev-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
  width: 2rem;
  text-align: center;
}

.dev-icon-tooltip {
  top: 15rem;
  font-size: 0.9rem;
  background-color: var(--tooltip-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  pointer-events: none;
  text-wrap: nowrap;
  opacity: 0;
  transition: opacity 0.15s ease-out, transform 0.15s ease-out;
}

.dev-icon-container:hover .dev-icon {
  filter: brightness(80%);
}

.dev-icon-container:hover .dev-icon-tooltip {
  opacity: 1;
  transform: translateY(-0.25rem);
}

@media (prefers-reduced-motion: no-preference) {
  .section-title {
    opacity: 0;
    animation: slide-fade-in normal 0.75s ease-out forwards;
  }
  .project {
    opacity: 0;
    animation: slide-fade-in normal 0.75s ease-out forwards;
  }
  .job {
    opacity: 0;
    animation: slide-fade-in normal 0.75s ease-out forwards;
  }
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translate(-2rem, 0rem);
  }
  to {
    opacity: 1;
    transform: translate(0rem, 0rem);
  }
}
