.main {
  /* Define color palette */
  --bg-color: #2e2e2e;
  --obj-color: #363636;
  --obj-highlight-color: #484848;
  --obj-shadow-color: #1f1f1f;
  --accent-color: #c094f7;

  text-align: center;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: left;
  color: white;

  border-bottom-style: solid;
  border-bottom-color: var(--accent-color);
  border-bottom-width: 0.1rem;
}

.name {
  font-size: 1.75rem;
  font-weight: 600;
  padding: 0.5rem;
  align-self: center;
}

.profile-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0rem;
}

.profile-link:hover {
  background-color: var(--obj-color);
}

footer {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
  gap: 1rem;

  border-top-style: solid;
  border-top-color: var(--accent-color);
  border-top-width: 0.1rem;
}

.projects {
  color: white;
  padding: 1rem;

  margin: auto;

  max-width: 100rem;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}


@media only screen and (max-width: 75rem) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 55rem) {
  .projects {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 40rem) {
  html {
    font-size: 62.5%;
  }
}

.project {
  background-color: var(--obj-color);
  border-radius: 0.75rem;
  box-shadow: var(--obj-shadow-color) 0.3rem 0.3rem;
  cursor: pointer;
  text-decoration: none;
}

.project:hover {
  background-color: var(--obj-highlight-color);
}

.project-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 1rem;
  box-sizing: border-box;
  color: white;
  padding: 1rem;
}

.project-img-container {
  width: 10rem;
  box-sizing: border-box;
  align-self: left;
  /* border-style: solid; */
}

.project-img {
  width: 100%;
  border-radius: 0.5rem;
}

.project-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: top;
  box-sizing: border-box;
  align-self: right;
  /* border-style: solid; */
  text-align: left;
}

.project-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.project-date {
  color: lightgray;
  font-size: 0.9rem;
}

.section-title {
  color: var(--accent-color);
}

.project-icons {
  margin-top: auto;
  justify-content: right;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.dev-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
  width: 2rem;
  text-align: center;
}

.dev-icon-tooltip {
  font-size: 0.9rem;
  background-color: #1f1f1f;
  padding: 0.25rem;
  border-radius: 0.25rem;
  pointer-events: none;
  text-wrap: nowrap;
  opacity: 0;
  animation: lower-fade-out normal 0.15s ease-out forwards;
}

.dev-icon-container:hover .dev-icon {
  filter: brightness(80%);
}

.dev-icon-container:hover .dev-icon-tooltip {
  z-index: 15;
  animation: rise-fade-in normal 0.15s ease-out forwards;
}

@media (prefers-reduced-motion: no-preference) {
  .section-title{
    opacity: 0;
    animation: slide-fade-in normal 0.75s ease-out forwards;
  }
  .project{
    opacity: 0;
    animation: slide-fade-in normal 0.75s ease-out forwards;
  }
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translate(-2rem, 0rem);
  }
  to {
    opacity: 1;
    transform: translate(0rem, 0rem);
  }
}

@keyframes rise-fade-in {
  from {
    transform: translate(0rem, 0.25rem);
    opacity: 0;
  }
  to {
    transform: translate(0rem, 0rem);
    opacity: 1;
  }
}

@keyframes lower-fade-out {
  from {
    transform: translate(0rem, 0rem);
    opacity: 1;
  }
  to {
    transform: translate(0rem, 0.25rem);
    opacity: 0;
  }
}
