.commit {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.75rem;
    border-radius: 0.75rem;
    background-color: var(--obj-color);
    box-shadow: 0rem 0rem 0.25rem 0.25rem var(--obj-shadow-color);
    text-decoration: none;
    color: white;
}

.commit:hover {
    background-color: var(--obj-highlight-color);
}

.mainRow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
    color: lightgray;
}

.avatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    background-color: var(--avatar-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.titleLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 0.1rem;
    width: 100%;
}

.summary {
    font-weight: bold;
    text-align: start;
    max-width: 75%;
}

.linesChanged {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 0.2rem;
    color: gray;
    white-space: nowrap;
}

.linesChangedValues {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-end;
}

.additions {
    font-weight: bold;
    color: #3fb950;
}

.deletions {
    font-weight: bold;
    color: #f85149;
}

.message {
    font-style: italic;
    font-size: 0.9rem;
    color: gray;
    text-align: start;
}

.timeAgo {
    color: gray;
}
