.commit {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.75rem;
    background-color: var(--obj-color);
    box-shadow: 0rem 0rem 0.25rem 0.25rem var(--obj-shadow-color);
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: var(--avatar-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titleLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.1rem;
}

.summary {
    font-weight: bold;
}

.author {
    font-size: 0.9rem;
    color: lightgray;
}

.message {
    font-style: italic;
    font-size: 0.9rem;
    color: gray;
}