.commitChart {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-width: 75rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.commitChartTitle {
    margin-bottom: 0rem;
}

.subtext {
    color: gray;
}

.chartRow {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--obj-highlight-color);
}

.chartCell {
    flex: 1;
    font-size: 0.75rem;
    align-content: center;
}

.chartCellSpacer {
    height: 0.75rem;
    border-left: 1px solid var(--obj-highlight-color);
}

.chartCellContent {
    height: 1rem;
    border-left: 1px solid var(--obj-highlight-color);
}

.chartDate {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 100%);
    color: gray;
}

.tooltip {
    position: fixed;
    background: var(--obj-highlight-color);
    color: white;
    pointer-events: none;
    z-index: 10;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    white-space: nowrap;
}
