.jobs {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 50rem;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.job {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: white;
  margin-bottom: 1rem;
}

.logoContainer {
  width: 5rem;
  height: 5rem;
  border-radius: 0.75rem;
  box-sizing: border-box;
  overflow: hidden;
}

.logo {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  flex: 1;
}

.tooltipOverlap {
  position: relative;
  z-index: 1;
}

.titleBar {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.subtitle {
  font-size: 1rem;
  font-weight: normal;
  color: lightgray;
}

.tech {
  justify-content: right;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5rem;
  flex: 1;
}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid gray;
}

.bullets {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

@media only screen and (max-width: 55rem) {
  .jobs {
    max-width: 100% !important;
  }
}
