.tech {
  composes: slideFadeIn from '../Anim.css';
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.title {
  composes: slideFadeIn from '../Anim.css';
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 55rem;
  margin: auto;
}

.sectionTitle {
  composes: slideFadeIn from '../Anim.css';
}

.text {
  composes: slideFadeIn from '../Anim.css';
}
