.section {
  padding-top: 1rem;
  max-width: 65rem;
  margin: auto;
}

.titleBar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logoContainer {
  height: 4.75rem;
}

.logo {
  height: 100%;
  border-radius: 0.5rem;
}

.titleBarLeft {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: auto;
}

.titleBarRight {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-left: auto;
}

.title {
  color: var(--accent-color);
  text-align: left;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  height: 3rem;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: var(--accent-color);
}

.date {
  color: lightgray;
  text-align: right;
}

.tech {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
  padding: 1rem;
}

.imageRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: top;
  justify-content: center;
}

.previewContainer {
  width: 55%;
  box-sizing: border-box;
  cursor: pointer;
}

.previewContainer:hover .preview {
  transform: translateX(-5%);
  filter: brightness(50%);
}

.previewContainer:hover .preview2 {
  transform: translateX(5%);
  filter: brightness(50%);
}

@media (prefers-reduced-motion: no-preference) {
  .preview {
    transition: transform 0.15s ease-out;
  }

  .preview2 {
    transition: transform 0.15s ease-out;
  }
}

.preview {
  width: 90%;
  border-radius: 0.75rem;
  transform: translateX(-2.5%);
  box-shadow: 0.2rem 0rem 0.2rem 0rem var(--obj-shadow-color);
}

.preview2 {
  position: absolute;
  width: 90%;
  border-radius: 0.75rem;
  transform: translateX(2.5%);
  clip-path: inset(0 0 0 85%);
}

.previewContainer:hover .previewHover {
  visibility: visible;
}

.previewHover {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  align-content: center;
  z-index: 10;
}

.imgTextSection {
  width: 45%;
}

.textHeader {
  margin-top: 0.5rem;
}

.text {
  text-align: justify;
}
