.section {
  padding-top: 1rem;
  max-width: 65rem;
  margin: auto;
}

.titleBar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logoContainer {
  height: 4.75rem;
}

.logo {
  height: 100%;
  border-radius: 0.5rem;
}

.titleBarLeft {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: auto;
}

.titleBarRight {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-left: auto;
}

.title {
  color: var(--accent-color);
  text-align: left;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  height: 3rem;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
}

.link:hover {
  color: var(--accent-color);
}

.date {
  color: lightgray;
  text-align: right;
}

.tech {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
  padding: 1rem;
}

.imageRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: top;
  justify-content: center;
}

.previewContainer {
  position: relative;
  width: 52.5%;
  height: fit-content;
  box-sizing: border-box;
}

.previewContainer:hover .preview {
  filter: brightness(50%);
}
  
.preview {
  overflow: hidden;
  width: 100%;
  border-radius: 0.75rem;
  pointer-events: none;
  transition: filter 0.075s ease-out;
}

.previewContainer:hover .previewText {
  opacity: 0;
}

.previewText {
  opacity: 1;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  z-index: 10;
  font-weight: 500;
  font-size: 1.1rem;
  text-shadow: 0rem 0rem 1rem black;
  pointer-events: none;
  transition: opacity 0.075s ease-out;
}

.previewContainer:hover .previewHover {
  opacity: 1;
}

.previewHover {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  align-content: center;
  z-index: 10;
  font-weight: 600;
  font-size: 1.25rem;
  text-shadow: 0rem 0rem 1rem black;
  pointer-events: none;
  transition: opacity 0.075s ease-out;
}

.imgTextSection {
  width: 47.5%;
}

.textHeader {
  margin-top: 0.5rem;
}

.text {
  text-align: justify;
}
